/* Base */

a {
  color: teal;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

/* Header */

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 80px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: pink;
}

.brand {
  position: relative;
  top: 5px;
  float: left;
  margin: 0;
}

.site-navigation {
  float: right;
}

.site-navigation ul {
  margin-top: 21px;
}

.site-navigation li {
  display: inline-block;
}

.site-navigation a {
  display: block;
  padding: 10px 15px;
  color: pink;
  background-color: #000;
  text-decoration: none;
}

.site-navigation a:hover {
  background-color: #fff;
}

/* Main */

/* Banner */

.home-banner {
  position: relative;
  height: 100vh;
  background-image: url("../img/banner.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.home-intro-content {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

.home-intro-content h1 {
  display: inline-block;
  padding: 20px;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* About */

.section-about {
  max-width: 960px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  overflow: hidden; /*clears the floats and prevents next elements from being affected by floats*/
}

.section-about .content {
  float: left;
  margin-right: 300px;
}

.section-about .sidebar {
  float: right;
  width: 300px;
  margin-left: -300px;
}

.content-image {
  float: left;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.pullquote {
  font-size: 30px;
  font-family: "Times New Roman", serif;
  font-style: italic;
  text-align: center;
}

/* Footer */

.site-footer {
  padding: 10px;
  border-top: 1px solid pink;
  text-align: center;
}