/* Base */

a {
  color: teal;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 80px;
}

/* Header */

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: pink;
}

.brand {
  position: relative;
  top: 5px;
  float: left;
  margin: 0;
}

.site-navigation {
  float: right;
}

.site-navigation ul {
  margin-top: 21px;
}

.site-navigation li {
  display: inline-block;
}

.site-navigation a {
  display: block;
  padding: 10px 15px;
  color: pink;
  background-color: #000;
  text-decoration: none;
}

.site-navigation a:hover {
  background-color: #fff;
}

/* Main */

/* Footer */

.site-footer {
  padding: 10px;
  border-top: 1px solid pink;
  text-align: center;
}